<!doctype html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        <a class="skip-link" href="#main">Skip to main</a>
        <main id="main">
            <div class="content">
                {{ partial "header.html" . }} {{ .Content }} {{ if gt (len (
                where .Site.RegularPages "Section" "posts" )) 0 }}
                <section>
                    {{ range (first 1 (where .Site.RegularPages "Section"
                    "posts" ).ByDate.Reverse) }}
                    <h2 class="post">{{ .Title }}</h2>
                    {{ .Content }} {{ if eq .Section "posts" }} {{ end }} {{ end
                    }}
                </section>
                {{ end }}
            </div>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
